<div class="interactive-wrapper">
    <div id="election-nav-head"></div>


    <section>
        <h1 class="js-headline">Can you form a stable government?</h1>
        <p class="f-standfirst js-standfirst">
            Combine parties as best you can to form a workable government. You need 323 votes, probably, to survive a confidence vote, but you may find that some parties get along together better than others
        </p>

        <!--<p class="f-lastupdate mt-10"><time id="jsLastUpdate"></time></p>-->

        <div class="btns-share">
            <button class="btn-tt" data-source="twitter" data-type="page"></button>
            <button class="btn-fb" data-source="facebook" data-type="page"></button>
        </div>
    </section>


    <section class="bt-1sb pos-r"> 
        <h2>Choose your parties</h2>
        <p class="c-grey3">Start by dragging either Labour<br>or Conservatives</p>
        <div class="btn-reset js-btn-reset"><a>Reset</a></div>
        
        <div class="pos-r" id="coalitions">

            <!-- top half -->
            <div id="bench"></div>
            <div id="playground"><span>Drag your coalition here</span></div>
            <!--div class="pos-a f-pickme js-pickme">Hey, pick me</div--> 

            <!-- bottom half -->
            <div class="pos-a-sum d-n js-sum">
                <span class="f-h2">You have</span>
                <span class="f-h1 l-seatcount js-seatcount">0 seat</span>
                <p class="c-grey3 mt--5 js-seatshort">(just 326 short of majority)</p>
            </div>
            <div class="pos-a-feedback f-p c-grey3 d-n js-feedback">
                <p class="js-feedback-match"></p>
                <p class="js-feedback-because">because ...</p>
                <a class="btn-done mt-5 js-btn-done"></a>
            </div>
            <!--div class="pos-a-done d-n js-done">
                <p class="f-p-bb">Done?</p>
                <a class="btn-done js-btn-done"></a>
            </div-->
        </div>

        <p class="f-footnote mt-10">
            Note: Sinn Féin are unavailable for coalition building because they do not take their Westminster seats
        </p>
    </section>


    <section class="bt-1sb pos-r l-coalition js-coalition" id="yourCoalition">     
        <h1 class="f-h1">Your coalition</h1>

        <!-- party list -->
        <ul class="js-parties mt-10"></ul>
        <h2 class="mt-10">
            <span class="js-seatcount"></span> is 
            <span class="js-not">not</span> enough to form a majority
        </h2>
        <p class="d-n js-conlib mt-10"></p>
        <p class="d-n js-labsnp mt-10"></p>

        <!-- party pairs -->
        <ul class="f-analysis js-analysis mt-30"></ul>   
        <div class="btns-share pos-a-tr">
            <button class="btn-tt" data-source="twitter" data-type="myCoalition"></button>
            <button class="btn-fb" data-source="facebook" data-type="myCoalition"></button>
        </div>       
    </section>

    <p class="f-credit js-credit">
        Credits: <a href="http://www.theguardian.com/profile/chia-jung-apple-c-fardel">Chia-Jung (Apple) C.Fardel</a>, 
        <a href="http://www.theguardian.com/profile/seanclarke">Seán Clarke</a>, 
        <a href="http://www.theguardian.com/profile/troy-griggs">Troy Griggs</a> and 
        <a href="http://www.theguardian.com/profile/carlo-zapponi">Carlo Zapponi</a>
    </p>   <div id="election-nav-footer" class="mt-30"></div> 
</div>
