<div class="interactive-wrapper">
    <section>
        <h1>Build the government, yo!</h1>
        <p class="f-standfirst">
            Lorem ipsum dolor sit amet, consec-tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </section>

    <section> 
        <h2>Coalition Bulider</h2>
        <div id="coalitions">
            <div id="parties"></div>
            <div id="builder"></div>
            <p class="pos-a-sum">
                <span class="f-h2">You have</span><br>
                <span class="f-h1 js-seatcount">0 seat</span><br>
                <span class="f-h2-grey2 js-seatshort">(just 326 short)</span>
            </p> 
        </div>
        <!-- <div class="pos-r" id="jsPlayground">

            <div class="pos-a" data-party="con"><img src="@@assetPath@@/imgs/con3.png" alt=""></div>
            <div class="pos-a" data-party="lab"><img src="@@assetPath@@/imgs/lab3.png" alt=""></div>
            <div class="pos-a" data-party="ld"><img src="@@assetPath@@/imgs/ld2.png" alt=""></div>
            <div class="pos-a" data-party="snp"><img src="@@assetPath@@/imgs/snp2.png" alt=""></div>
            <div class="pos-a" data-party="grn"><img class="bgc-green" src="@@assetPath@@/imgs/others.png" alt=""></div>
            <div class="pos-a" data-party="pc"><img class="bgc-pc" src="@@assetPath@@/imgs/others.png" alt=""></div>
            <div class="pos-a" data-party="sdlp"><img class="bgc-sdlp" src="@@assetPath@@/imgs/others.png" alt=""></div>
            <div class="pos-a" data-party="others"><img class="bgc-others" src="@@assetPath@@/imgs/others.png" alt=""></div>
            <div class="pos-a" data-party="dup"><img class="bgc-dup" src="@@assetPath@@/imgs/others.png" alt=""></div>
            <div class="pos-a" data-party="ukip"><img class="bgc-ukip" src="@@assetPath@@/imgs/others.png" alt=""></div> 
            
            <div class="pos-a f-pickme js-pickme">Hey, pick me</div>
            <div class="pos-a-gov"></div>
            <p class="pos-a-sum">
                <span class="f-h2">You have</span><br>
                <span class="f-h1 js-seatcount">0 seat</span><br>
                <span class="f-h2-grey2 js-seatshort">(just 326 short)</span>
            </p>   
        </div>  -->
    </section>

    <section>
        <h2>Coalition analysis</h2>
        <div id="jsPartyIcons"></div>
        <div id="jsPartyNames"></div>
        <div class="f-h1 js-seatcount">0 seat</div>
        
        <div class="f-analysis js-analysis"></div>   
    </section>
</div>
