/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';
@include guss-webfonts();
@include guss-typography-defaults;

@import 'bower_components/guss-colours/_colours';
@import 'bower_components/pasteup-palette/src/_palette';

// font
// inheritance from guss-typography
// https://github.com/guardian/guss-typography 
$ff-s-h:  $f-serif-headline;        //: 'Guardian Egyptian Web';
$ff-s-t:  $f-serif-text;            //: 'Guardian Text Egyptian Web';
$ff-ss-h: $f-sans-serif-headline;   //: 'Guardian Sans Web';
$ff-ss-t: $f-sans-serif-text;       //: 'Guardian Text Sans Web';
//$ff-data: $f-data;                  //: 'Guardian Agate Sans 1 Web';

.ff-ss-data { font-family: $f-data; }

$fz-12: 12px;
$fz-14: 14px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;

// color:
// inheritance from pasteup-palette
// http://guardian.github.io/pasteup-palette/demo/
// blue
$c-brand:   map-get($pasteup-palette, 'guardian-brand');
$c-brand-l: map-get($pasteup-palette, 'guardian-brand-light');
$c-brand-d: map-get($pasteup-palette, 'guardian-brand-dark');
// grey
$c-grey1:   map-get($pasteup-palette, 'neutral-1'); //darker
$c-grey2:   map-get($pasteup-palette, 'neutral-2');
$c-grey3:   map-get($pasteup-palette, 'neutral-3'); //lighter

// parties
$partyColors: (
    con:    #005789,
    green:  #33A22B,
    lab:    #E31F26,
    snp:    #FCDD03,
    libdem: #FFB900,
    ukip:   #7D0069,
    pc:     #868686,
    others: #B3B3B4,
    dup:    #D46A4C
);

@each $party, $color in $partyColors {
    .c-#{$party}   { color: $color; }
    .bgc-#{$party} { background-color: $color; }
}

@import 'modules/grid';

@import 'modules/mirrorlines';
@import 'modules/coalitionlist';
@import 'modules/partycircles';
