/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';
@import 'bower_components/guss-colours/_colours';
@import 'bower_components/pasteup-palette/src/_palette';

@include guss-webfonts();
@include guss-typography-defaults;


// font
// inheritance from guss-typography
// https://github.com/guardian/guss-typography 
/*
 * $ff-s-h:  $f-serif-headline;        //: 'Guardian Egyptian Web';
 * $ff-s-t:  $f-serif-text;            //: 'Guardian Text Egyptian Web';
 * $ff-ss-h: $f-sans-serif-headline;   //: 'Guardian Sans Web';
 * $ff-ss-t: $f-sans-serif-text;       //: 'Guardian Text Sans Web';
 * $ff-data: $f-data;                  //: 'Guardian Agate Sans 1 Web';
 *  */

$f-serif-headline: 'Guardian Egyptian Web','Egyptian Display', Georgia;
$f-sans-serif-text:'Guardian Text Sans Web', 'Agate Sans', Helvetica, sans-serif;

$fz-12: 12px;
$fz-13: 13px;
$fz-14: 14px;
$fz-15: 15px;
$fz-18: 18px;
$fz-20: 20px;
$fz-22: 22px;

// color:
// inheritance from pasteup-palette
// http://guardian.github.io/pasteup-palette/demo/
// blue
$c-brand:   map-get($pasteup-palette, 'guardian-brand');
// grey
$c-grey1:   map-get($pasteup-palette, 'neutral-1'); //darker
$c-grey2:   map-get($pasteup-palette, 'neutral-2');
$c-grey3:   map-get($pasteup-palette, 'neutral-3'); //lighter
// parties
$partyColors: (
con:    #005789,
lab:    #E31F26,
snp:    #FCDD03,
libdem: #FFB900,
ukip:   #7D0069,
pc:     #868686,
green:  #33A22B,
others: #B3B3B4,
dup:    #99002e,
sdlp:   #008587
//sf:   #7eaa58
//ind:  #B3B3B4
);
@each $party, $color in $partyColors {
    .c-#{$party}   { color: $color; }
    .bgc-#{$party} { background-color: $color; }
    .b-1s#{$party} { border: 1px solid $color; }
}
.c-grey3 {
    color: $c-grey3;
}
.c-black {
    color: black;
}

@import 'modules/grid';
@import 'modules/font';
@import 'modules/layout';
@import 'modules/animation';
@import 'modules/buttons';
@import 'modules/builder';


// hack for the app
.article__header,
#article-body .l-header,
#article-body .l-footer,
#related {
      display: none;  
}
#article-body.article__body {
    padding: 0;
}

#article-body ul::before,
#article-body li::before {
      display: none;
}

.prose p {
    margin: 0;
}
.prose h2 {
	font-family: $f-serif-headline;
}

