@keyframes movement {
    0% {
        transform: translate3d(0, 0px, 0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0, 10px, 0);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0, 0px, 0);
    }
}
@keyframes movement-delay {
    0%   { opacity: 0;}
    9%   { opacity: 0;}
    10%  { opacity: 1; transform: translate3d(0, 0px, 0); }
    12%  { transform: translate3d(0, 5px, 0); }
    14%  { opacity: 1; transform: translate3d(0, 0px, 0); }
    16%  { transform: translate3d(0, 5px, 0); }
    18%  { opacity: 1; transform: translate3d(0, 0px, 0); }
    20%  { transform: translate3d(0, 15px, 0); }
    22%  { opacity: 1; transform: translate3d(0, 10px, 0); } 
    29%  { opacity: 1;}
    30%  { opacity: 0;}
    100% { opacity: 0;}
}

.animate {
    animation: movement 2s infinite;
}
.animate-delay {
    animation: movement-delay 20s infinite;
}
.animate-15s {
    animation: movement 2s infinite;
    animation-duration: 15s;
}
