#coalitions {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position:relative;
}
.js-pickme {
    left: calc(50% - 60px);
}
#bench {
    width:100%;
    height: 200px;//33%;
    position: relative;
    overflow: visible;
    z-index: 3;
}
#playground {
    width: calc(100% - 2px);
    height: calc(100% - 202px);
    position: relative;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#playground > span{
    
    font-family:$f-sans-serif-text;
    font-size:18px;
    font-weight: bold;
    color:#ddd;

    display: inline-block;
    width: 100%;
    text-align: center;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}
.builder {
    z-index: 2;
    width:100%;
    height: 100%;
    position: relative;
    border:1px dotted #aaa;
}
.active .builder {
    background-color:#eee;
    border:none;
}
.dropping .builder {
    -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.175);
    box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.175);
    background-color:#eee;
}


.node {
    position: absolute;
}
.node.hidden {
    display: none;
}
.node .party {
    position: relative;
    

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    overflow: visible;
}
.node .party .face {
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    border:5px solid transparent;
    width: calc(100%);
    height: calc(100%);
    overflow: hidden;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.node.dragging .party .face {
    border:5px solid #bbb;
}
.node.dragging .party .face .pic {
    border:1px solid transparent !important;
}
.active .node .party .face {
    border:5px solid transparent;
}
.node.blurred {
    opacity: 0.5;
}
.node h3 {
    font-family:$f-sans-serif-text;
    font-size:13px;
    color:#fff;
    text-shadow: 0 0 1px #000;
    display: inline-block;
    position:absolute;
    bottom:5px;
    width:100%;
    text-align: center;
    margin:0;
}
.node h4 {
    font-family:$f-sans-serif-text;
    font-size:13px;
    color:#333;
    display: inline-block;
    position:absolute;
    /*top: 50%;
    transform: translateY(-50%);*/
    margin: 0;
    bottom:-15px;
    width:100%;
    text-align: center;
    font-weight: normal;
}
.node .party .pic {
    position:absolute;
    top:5px;
    left:5px;
}
.node .party .overlay {
    width:100%;
    height: 100%;
    position:relative;
    opacity: 0;
}

.node .party .face .pic {
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top:5px;
    left:5px;
    overflow: hidden;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

@each $party, $color in $partyColors {
    .node .party.#{$party} .face  .pic { 
        background-image: url(../imgs/pics/#{$party}-n.png);
        border:1px solid $color;
    }
    .node.happy .party.#{$party} .face .pic   { 
        background-image: url(../imgs/pics/#{$party}-h.png);
    }
    .node.angry .party.#{$party} .face  .pic { 
        background-image: url(../imgs/pics/#{$party}-a.png);
    }
}



svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

svg .node {
  stroke-width: 1.5px;
  stroke:#333;
}

svg .link {
    stroke: #eee;
    stroke-width: 1px;
}

svg line.axis {
    stroke: #eee;
    stroke-width: 1px;   
}

.speaker {
    fill:#333;
    stop-color:#333;
    stroke:#333;
    color:#333;
}
.con {
    fill:#005789;
    stroke:#005789;
    color:#005789;
    border-color:#005789;

    .overlay {
        background-color:#005789;
    }
}

.lab {
    fill:#E31F26;
    
    stroke:#E31F26;
    color:#E31F26;
    border-color:#E31F26;

    .overlay {
        background-color:#E31F26;
    }
}
.snp {
    fill:#FCDD03;
    
    stroke:#FCDD03;
    color:#fcb705;
    border-color:#fcb705;

    .overlay {
        background-color:#FCDD03;
    }
}
.libdem {
    fill:#FFB900;
    
    stroke:#FFB900;
    color:#FFB900;
    border-color:#FFB900;

    .overlay {
        background-color:#FFB900;
    }
}
.ukip {
    fill:#7D0069;
    
    stroke:#7D0069;
    color:#7D0069;
    border-color:#7D0069;

    .overlay {
        background-color:#7D0069;
    }
}
.green {
    fill:#33A22B;
    
    stroke:#33A22B;
    color:#33A22B;
    border-color:#33A22B;

    .overlay {
        background-color:#33A22B;
    }
}
.others {
    fill:#B3B3B4;
    
    stroke:#B3B3B4;
    color:#B3B3B4;
    border-color:#B3B3B4;

    .overlay {
        background-color:#B3B3B4;
    }
}
.pc {
    color:#868686;
    fill:#868686;
    
    stroke:#868686;
    border-color:#868686;

    .overlay {
        background-color:#868686;
    }
}
.sf {
    color:#7eaa58;
    fill:#7eaa58;
    
    stroke:#7eaa58;
    border-color:#7eaa58;

    .overlay {
        background-color:#7eaa58;
    }
}
.sdlp {
    color:#008587;
    fill:#008587;
    
    stroke:#008587;
    border-color:#008587;

    .overlay {
        background-color:#008587;
    }
}
.ind {
    color:#B3B3B4;
    fill:#B3B3B4;
    
    stroke:#B3B3B4;
    border-color:#B3B3B4;

    .overlay {
        background-color:#B3B3B4;
    }
}
.dup {

    color:#99002e;
    fill:#99002e;
    
    stroke:#99002e;
    border-color:#99002e;

    .overlay {
        background-color:#99002e;
    }
}
