.btns-share {
    margin-top:10px;
    margin-bottom: 30px;

    button {    
        color: #fff;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 9000px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        outline: none;
    }
    .btn-tt { background: #bdbdbd url(../imgs/twitterIcon.svg)  no-repeat center center; }
    .btn-fb { background: #bdbdbd url(../imgs/facebookIcon.svg) no-repeat center center; }
    .btn-tt:hover { background-color: #03b3ee }
    .btn-fb:hover { background-color: #3067a3 }
}

.btn-done {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMy4yIDMzLjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMzLjIgMzMuMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBvbHlnb24gZmlsbD0iIzAxMDIwMiIgcG9pbnRzPSIyLjEsMCAwLDIuMSAxNC44LDE4LjQgMzEuNCwzMi45IDMzLjIsMzEuMSAxOC40LDE0LjggIi8+PHBvbHlnb24gZmlsbD0iIzAxMDIwMiIgcG9pbnRzPSIwLDMxLjEgMi4xLDMzLjIgMTguNCwxOC40IDMzLjIsMi4xIDMxLjEsMCAxNC44LDE0LjggIi8+PC9nPjwvc3ZnPg==);
    opacity: 0.1;
}
.btn-done:hover {
    opacity: 0.3;
}
