.btns-share {
    margin-top:10px;
    margin-bottom: 30px;

    button {    
        color: #fff;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 9000px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        outline: none;
    }
    .btn-tt { background: #bdbdbd url(../imgs/twitterIcon.svg)  no-repeat center center; }
    .btn-fb { background: #bdbdbd url(../imgs/facebookIcon.svg) no-repeat center center; }
    .btn-tt:hover { background-color: #03b3ee }
    .btn-fb:hover { background-color: #3067a3 }
}

.btn-done {
    width: 36px;
    height: 36px;
    //border: none;
    //border-radius: 36px;
    //background-size: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMTIzLjMgNTk1LjMgNTk1LjMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAxMjMuMyA1OTUuMyA1OTUuMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTI5Ny42LDEzMC4xYzE2MC4zLDAsMjkwLjksMTMwLjYsMjkwLjksMjkwLjlTNDU4LDcxMS44LDI5Ny42LDcxMS44UzYuOCw1ODEuMyw2LjgsNDIwLjlTMTM3LjMsMTMwLjEsMjk3LjYsMTMwLjEgTTI5Ny42LDEyMy4zQzEzMy4zLDEyMy4zLDAsMjU2LjYsMCw0MjAuOXMxMzMuMywyOTcuNiwyOTcuNiwyOTcuNnMyOTcuNi0xMzMuMywyOTcuNi0yOTcuNlM0NjIsMTIzLjMsMjk3LjYsMTIzLjNMMjk3LjYsMTIzLjN6Ii8+PC9nPjxwb2x5Z29uIHBvaW50cz0iNDMyLjMsMzYxLjQgMjk3LjYsNDc0LjQgMTYzLDM2MS40IDE0OS41LDM3NC4zIDI3MS4zLDQ5NiAyNzEuMyw0OTYgMjkwLjksNTE1LjYgMzA0LjQsNTE1LjYgMzI0LDQ5NiA0NDUuOCwzNzQuMyAiLz48L3N2Zz4=);
    display: inline-block;
}
.btn-done:hover {
    //background-color: $c-brand; 
}
