// overrie
#election-nav-head {
    position: relative  !important;
}

section {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}


// atomic css
.o-h   { overflow: hidden; }

.d-n   { display: none; }
.d-b   { display: block; }
.d-ib  { display: inline-block; }

.pos-r { position: relative; }
.pos-a { position: absolute; }

.mt--5 { margin-top: -5px; }
.mt-5  { margin-top:  5px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }

.bt-1sb { border-top: 1px solid black; }


// custom css
.hide { 
    max-height: 0; 
    //transition: max-height, 1s;
}
.show { 
    height: auto;
    max-height: 500px; 
    //transition: max-height, 1s;
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 5px;
}

.pos-a-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-a-sum {
    position: absolute;
    left: 12px;
    top: 190px;
    //bottom: 10px;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}
.pos-a-done {
    position: absolute;
    right: 12px;
    top: 200px;
    z-index: 2;
}
.pos-a-feedback {
    position: absolute;
    top: 260px;
    left: 12px;
    //pointer-events: none;
    //user-select: none;
}

// in party list
.pos-r-party-list {
    position: relative;
    height: 105px;
    margin-right: 8px; //TODO: remove later
    //margin-right: calc((100% - 64px * 4) / 3);
}
.pos-a-party-name,
.pos-a-party-seat {
    position: absolute;
    width: 100%;
    text-align: center;
}
.pos-a-party-name { bottom: 15px; }
.pos-a-party-seat { bottom: 0; }

// in party pair
.pos-r-party-pair {
    position: relative;
    width: 214px; //64x4+16+2
    margin-top: 10px;
    margin-bottom: 10px;
}

.pos-a-party-name-left,
.pos-a-party-name-right {
    position: absolute;
    bottom: 0;
    width: 64px;
}
.pos-a-party-name-left { left: 0;}
.pos-a-party-name-right { right: 0; }

.l-party-plus {
    display: inline-block;
    width: 82px; //64+16+2
    height: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.img-party {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    display: inline-block; 
}


@media(min-width:660px){
    .pos-a-sum {
        top: 210px;//calc(100% / 3);  
        height: 80px;
    }
    .pos-a-done {
        top:220px;
        width: 40px;
        height: 60px;
    }
    .pos-a-feedback {
        top: 310px;//calc(100% / 3 + 100px);
    }

    .fl-pair {
        float: left;
    }
    .fr-pair {
        float: right;
        width: calc(100% - 246px);
        margin-top: 12px;
    }

    .l-seatcount {
        display: block;
        margin-bottom: 5px;
    }
}

@media(min-width:980px){
    .l-coalition {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
}}
