// override
#election-nav-head {
    position: relative  !important;
}

section {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}


// atomic css
.o-h   { overflow: hidden; }

.d-n   { display: none; }
.d-b   { display: block; }
.d-ib  { display: inline-block; }

.pos-r { position: relative; }
.pos-a { position: absolute; }

.mt--5 { margin-top: -5px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }

.bt-1sb { border-top: 1px solid black; }


// custom css
.hide { 
    max-height: 0; 
    transition: max-height, 1s;
}
.show { 
    height: auto;
    max-height: 500px; 
    transition: max-height, 1s;
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 5px;
}

.pos-a-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-a-sum {
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.pos-r-party {
    position: relative;
    height: 105px;
    margin-right: 8px; //TODO: remove later
}
.pos-a-party-name,
.pos-a-party-seat {
    position: absolute;
    width: 100%;
    text-align: center;
}
.pos-a-party-name { bottom: 15px; }
.pos-a-party-seat { bottom: 0; }
 
.img-party {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
