// override
section {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 80px;
}

// atomic css
.d-n { display: none; }

.pos-r { position: relative; }
.pos-a { position: absolute; }


// custom css
.hide { 
    max-height: 0; 
    transition: max-height, 1s;
}
.show { 
    height: auto;
    max-height: 200px; 
    transition: max-height, 1s;
    border-top: 1px dotted #eee;
    margin-top: 15px;
    padding-top: 5px;
}

.pos-a-party {
    position: absolute;
    border-radius: 80px;
    z-index: 1;
}

.pos-a-gov {
    position: absolute;
    background-color: #eee;
    width: 100%;
    height: 50%;
    bottom: 0;
}
.pos-a-sum {
    position: absolute;
    bottom: 10px;
    z-index: 2;
}
