#seatsCharts {
    .con,
    .cRight {
        fill:#005789;
        stop-color:#005789;
        stroke:#005789;
        color:#005789;
    }
    .lab,
    .cLeft {
        fill:#E31F26;
        stop-color:#E31F26;
        stroke:#E31F26;
        color:#E31F26;
    }
    .snp {
        fill:#FCDD03;
        stop-color:#FCDD03;
        stroke:#FCDD03;
        color:#fcb705;
    }
    .libdem {
        fill:#FFB900;
        stop-color:#FFB900;
        stroke:#FFB900;
        color:#FFB900;
    }
    .ukip {
        fill:#7D0069;
        stop-color:#7D0069;
        stroke:#7D0069;
        color:#7D0069;
    }
    .green {
        fill:#33A22B;
        stop-color:#33A22B;
        stroke:#33A22B;
        color:#33A22B;
    }
    .others {
        fill:#B3B3B4;
        stop-color:#B3B3B4;
        stroke:#B3B3B4;
        color:#B3B3B4;
    }
    .pc {
        color:#868686;
        fill:#868686;
        stop-color:#868686;
        stroke:#868686;
    }
    .gray {
        stop-color:#999;
    }
    .white {
        stop-color:#fff;
    }
    body {
        font-family:"GuardianAgateSans1Web",sans-serif;
        font-size: 12px;
    }
    #seatsCharts {
        width:800px;
        margin:0 auto;
        overflow: hidden;
    }
    .seats-chart {
        min-height: 70px;
        margin:15px auto 10px;
        text-align: center;
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .seats-chart svg {
        font-family:"GuardianAgateSans1Web",sans-serif;
        font-size:12px;
        display: block;
        margin: 0 auto;
        -webkit-font-smoothing: antialiased;
    }
    .seats-chart svg path.arrow {
        stroke: none;
        fill: #999;
        fill-opacity:0.25; 
    }
    .seats-chart svg .linechart>g {
        cursor: pointer;
    }

    .seats-chart svg .linechart g text {
        fill:#333;
        text-anchor:middle;
        font-size:10px;
        fill-opacity:0;
    }

    .seats-chart svg .linechart g text tspan.click {
        font-weight: 300;
        fill:#666;
    }
    .seats-chart svg .linechart line.diff {
        fill:#888;
        fill-opacity:1;
        stroke:#333;
        stroke-opacity:0.5;
        stroke-width:1;
    }
    .seats-chart svg .linechart line.diff.hidden {
        display:none;
    }
    .seats-chart svg .linechart line.dropline {
        fill:none;
        stroke-opacity:0.5;
        stroke-dasharray:2,2;
        shape-rendering: crispEdges;
    }
    .seats-chart svg .linechart g.selected text tspan.click {
        fill-opacity:0;
    }
    .seats-chart svg .linechart g.dropline line {
        fill:none;
        stroke:#666;
        stroke-opacity:0;
        stroke-dasharray:2,2;
        shape-rendering: crispEdges;
    }
    .seats-chart svg .linechart g.dropline circle {
        fill-opacity:0;
        stroke:none;
    }
    .seats-chart svg .linechart g.dropline.hover line {
        stroke-opacity:0.8;
    }
    .seats-chart svg .linechart g.dropline.hover text {
        fill-opacity:1;
    }
    .seats-chart svg .linechart g.dropline.hover circle {
        fill-opacity:1;
    }
    .seats-chart:hover .d0,
    .seats-chart:hover .d1 {
        display: none;
    }
    .seats-chart svg .linechart g rect.bg {
        fill:#fff;
        stroke:none;
        fill-opacity:0;
    }

    .seats-chart svg .linechart rect.ix {
        fill:#000;
        fill-opacity:0;
        stroke:none;
    }
    .seats-chart svg .linechart path {
        fill:none;
        stroke-width:2;
        shape-rendering:crispEdges;
    }
    .seats-chart svg .linechart line.to-election-day {
        shape-rendering:crispEdges;
        stroke-opacity:0.25;
    }

    .seats-chart svg .linechart path.area {
        stroke:none;
        fill:#A06535;
        fill-opacity:0.5;
    }
    .seats-chart svg .linechart text.label {
        font-size:14px;
        stroke:none;
        text-anchor: end;
    }
    .seats-chart svg .linechart circle.label {
        fill-opacity:1;
    }
    .seats-chart svg .linechart text.label.cLeft {
        text-anchor: start;
    }
    .seats-chart svg .linechart rect {
        stroke:none;
        fill-opacity:0.2;
        shape-rendering:crispEdges;
    }
    .seats-chart svg .linechart .dropline text{
        font-size: 12px;
        fill:#333;
        font-weight: normal;
        stroke:none;
    }
    .seats-chart #axes path,
    .seats-chart #axes line {
        shape-rendering: crispEdges;
    }
    .seats-chart #axes line.coalitions-diff {
        stroke:#888;
        shape-rendering: auto;
    }
    .seats-chart #axes line.coalitions-diff.hidden {
        display: none;
    }
    .seats-chart #axes .axis path {
        stroke:#999;
        stroke-width:1;
        fill:none;
        shape-rendering: crispEdges;
        display: none;
    }
    .seats-chart #axes .axis .tick line {
        stroke:none;
        stroke-width:1;
        fill:none;
        shape-rendering: crispEdges;
    }
    .seats-chart #axes .axis .tick text{
        font-size: 12px;
        fill:#333;
    }
    .seats-chart #axes .axis .tick.election-day text {
        font-weight: bold;
    }
    .seats-chart #axes .axis .tick .dropline{
        stroke:#ddd;
        stroke-dasharray: 2,2;
    }
    .seats-chart:hover #axes .axis .tick {
        display: none;
    }
    .seats-chart:hover #axes .axis .tick.election-day {
        display: block;
    }

    .seats-chart #axes line.ygrid {
        fill:none;
        stroke:#ccc;
        stroke-width:1;
        stroke-dasharray: 2,2;
    }
    .seats-chart .chart.first .seats-chart #axes line.ygrid {
        display: block;
    }
    .seats-chart #axes .y .tick text {
        text-anchor:start !important;
    }
    .seats-chart #axes .y .tick line,
    .seats-chart #axes .y path {
        display: none;
    }

    .seats-chart line.election-day {
        stroke:#999;
        stroke-width:1;
        shape-rendering: crispEdges;
    }
    .seats-chart text.election-day {
        text-anchor:middle;
        font-weight: bold;
    }
    .seats-chart .majority line {
        stroke:#999;
        stroke-width:1;
        stroke-dasharray:2,2;
        shape-rendering: crispEdges;
    }

    .seats-chart #timeselect {
        position: absolute;
        width: 80px;
        height:20px;
        left:14px;
        bottom:-15px;
        line-height: 20px;
    }
    .seats-chart #timeselect a.arrow {
        display: block;
        width:15px;
        float: left;
        text-align: center;
        font-weight: 400;
    }
    .seats-chart #timeselect ul {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 20px;
        text-align: center;
        display: block;
        overflow: hidden;
        float: left;
        font-size: 12px;
        font-weight: 400;
    }
    .seats-chart #timeselect ul li {
        margin: 0;
        padding: 0;
        line-height: 20px;
        display: none;
    }
    .seats-chart #timeselect ul li.selected {
        display: block;
    }
}

#legend {
    position: relative;
    overflow: hidden;

    > div {
        width: 50%;
        float: left;
    }
    .ul__party {
        list-style: none;
        margin: 0; 
        padding-left: 0;
        float: left;
    }
    > div:last-child .ul__party {
        float: right;
    }
    .ul__party li {
        padding-right: 5px;
        padding-left: 0;
        float: left;
        line-height: 17px;
        cursor: pointer;
    }
    .ul__party.right li {
        padding-right: 0;
        padding-left: 5px;
    }
    > div:last-child .ul__party li {
        float: right;
    }
    .ul__party li:first-child .rect {
        margin-left: 0;
    }
    .ul__party.right li:first-child .rect {
        margin-right: 0;
        margin-left: 5px;
    }
    .ul__party li:last-child {

    } 
    .ul__party li.deselected {
        color:#ddd;
    }
    .ul__party li.deselected .rect {
        opacity: 0.3;
    }
    .rect {
        width: 10px;
        height: 18px;
        margin-right: 5px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
    }
    .right .rect {
        margin-right: 0px;
        margin-left: 5px;
    }
}

